<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/css/base.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/css/bootstrap.css') }}">
  <meta charset="UTF-8">
  <title>TodoApp</title>
</head>

<body>

  {% include 'navbar.html' %}
  <div id="alert-container"
    style="position: fixed; top: 80px; left: 50%; transform: translateX(-50%); z-index: 9999; width: 80%; max-width: 600px;">
  </div>

  {% block content %}

  {% endblock %}

  <script src="{{ url_for('static', path='/js/jquery-slim.js') }}"></script>
  <script src="{{ url_for('static', path='/js/popper.js') }}"></script>
  <script src="{{ url_for('static', path='/js/bootstrap.js') }}"></script>
  <script src="{{ url_for('static', path='/js/base.js') }}?v={{ range(1, 1000) | random }}" defer></script>
</body>

</html>